<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Serve prerendered vendor pages -->
        <rule name="Vendor OpenText" stopProcessing="true">
          <match url="^vendors/opentext/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/vendors/opentext.html" />
        </rule>
        <rule name="Vendor TDS" stopProcessing="true">
          <match url="^vendors/tds/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/vendors/tds.html" />
        </rule>
        <rule name="Vendor AppCure" stopProcessing="true">
          <match url="^vendors/appcure/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/vendors/appcure.html" />
        </rule>
        <rule name="Vendor Sangfor" stopProcessing="true">
          <match url="^vendors/sangfor/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/vendors/sangfor.html" />
        </rule>
        <rule name="Vendor Arrosoft" stopProcessing="true">
          <match url="^vendors/arrosoft/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/vendors/arrosoft.html" />
        </rule>
        <rule name="Vendor Nakivo" stopProcessing="true">
          <match url="^vendors/nakivo/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/vendors/nakivo.html" />
        </rule>
        <!-- Serve prerendered main pages -->
        <rule name="Main Pages" stopProcessing="true">
          <match url="^(about|services|solutions|contact|vendors|clients)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/{R:1}.html" />
        </rule>
        <!-- Serve prerendered solution pages -->
        <rule name="Solution Pages" stopProcessing="true">
          <match url="^solutions/(.+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/solutions/{R:1}.html" />
        </rule>
        <!-- SPA fallback for React Routes -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>